<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <h3 class="card-title text-center"><%= task.title %></h3>
    </div>
    <div class="card-body">
      <p class="card-text">
        <strong>Description:</strong> <%= task.description %>
      </p>
      <p class="card-text">
        <strong>Due Date:</strong> <%= task.dueDate.toDateString() %>
      </p>
      <!-- Edit and Delete buttons -->
      <a href="/<%= task._id %>/edit" class="btn btn-primary d-inline-block">Edit</a>
      <form
        id="deleteForm"
        action="/<%= task._id %>/delete?_method=DELETE"
        method="post"
        class="d-inline-block">
        <a href="#" onclick="confirmDelete(event)" class="btn btn-danger">Delete</a>
      </form>
    </div>
  </div>
</div>

<script>
  function confirmDelete(event) {
    event.preventDefault(); // Prevent the form from submitting automatically

    if (confirm("Are you sure you want to delete this task?")) {
      // If user confirms, submit the form
      document.getElementById("deleteForm").submit();
    }
  }
</script>
